.App {
  width: 1024px;
  margin: 1rem auto;
}
.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.App-title {
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: 500;
}
.subtitle {
  font-size: 1.5rem;
  text-align: center;
}
